<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Post in details -</h1>
    <div class="post">
        <h4 id="postId">Post id : <%= post.id %></h4>
        <h3 class="user">@<%= post.username%></h3>
        <h3 class="user">@<%= post.message%></h3>
    </div>
</body>
</html>