<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To add a new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/posts">
        <label for="user">Username : </label>
        <input id="message" type="text" placeholder="Enter username", name="username" id="user"><br><br>
        <label for="Message">Message : </label><br><br>
        <textarea name="message" placeholder="Enter message"></textarea><br><br>
        <button>Submit</button><br>
    </form>
</body>
</html>